@charset "utf-8"
*{margin: 0;padding: 0;}
header{width: 1000px; margin: 0 auto;}
li{display: flex;}
.visual{
    width: 1000px;
    background: red;
}
footer{
    width: 100px;
    height: 50px;
    background: blue;
}