@charset "utf-8";
html,body{height: 100%;}
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a:link,a:visited{text-decoration: none;color:#1e1e1e}
.clearfix:after{
    content:"";display: block;clear: both;
}
img{display: block;}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.menuFont{
    font-size: 20px;
    font-weight: 700;
}

.container{
    width: 1280px;margin: 0 auto;position: relative;
}

/* header  */
.hd{
    padding: 20px 0;background:white;
    position: fixed;width: 100%;z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);    
}
.hd .navWrap{
    height: 35px;
}
.hd h1{
    width: 165px;height: 35px;
    float: left;
}
.hd h1 img{width: 100%;}
.hd .gnb{float: right;}
.hd .gnb li{float: left;width: 170px;}
.hd .gnb li a{
    display: table-cell;line-height: 35px;
    text-align: center;
}
/* .hd .gnb li a:hover{ } */
.slideWrap{
    width: 100%;    
    margin-bottom: 200px;
}

.slideWrap .sItem{
    height: 100vh;
    min-height:400px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slideWrap li{
    background-repeat: no-repeat;     
}

.slideWrap li .txtWrap{
    height: 250px;width: 456px;
    position: absolute;
    top: 40%;
    left: 15%;
    color: #ffffff;
    
}
.slideWrap li .txtWrap h3{
    height: 216px;width: 456px;
    font-size: 80px;
    font-weight: 700;
    line-height: 104px;
    background: 0% 0%;
    text-indent: -2px;
    letter-spacing: -2.6px;
    text-decoration: none solid rgb(255,255,255);
    
    
}
.slideWrap li .txtWrap p{
    height: 36px;width: 456px;
    font-size: 24px;
    letter-spacing: -0.6px;
    text-decoration: none solid rgb(255,255,255);
   
}
/* section  */
.content{height: 300px;background: #ffffff;}
.content .mainTop{
    margin-bottom: 100px;
    
}

.content .mainTop a{
    height: 124px;
    width: 1216px;
    font-size: 44px;
    font-weight: 700;
    color: #1e1e1e;
    display: block;
    letter-spacing: -2px;
    
}
.content .mainTop p{
    height: 56px;width: 592px;
    float: right;
    font-size: 18px;
    color: #1e1e1e;
    line-height: 28px;
    display: block;
    letter-spacing: -0.6px;
}

/* visual */
.visual{
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.visualWrap{
    padding: 20px 16px 0;
}


li{
    width: calc( ( 1280px - 32px ) / 3 );
    float: left;
    
}
.visual h3{
    font-size: 21px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 31.92px;
    text-align: left;
    text-decoration: none solid rgb(30,30,30);
    padding: 0 28px 0 0;
   
}
.visual p{
    font-size: 15px;
    letter-spacing: -0.6px;
    line-height:24px;
    text-align: left;
    text-decoration: none solid rgb(30,30,30);
    margin: 7px 0 0 0;

}
.visual img{
    width: 384px;
    height: 450px;
    margin-bottom: 20px;
    transform: 0;
}


/* pic */
.pic{
    display: block; width: 1113px;height: 337px; 
    }

.pic a{
    /* display: block; */
    width: 1113px;
    height: 337px;
    background-color: #ffd44a;
    float:left;
    display: flex;justify-content: center;align-items: center;
}

/* footer */
/* 
.ft{
    display: block;
    background: #1e1e1e;}
.ft .ftTop a{
    float: right; color: gainsboro;
    height: 31px;
    width: 180px;
    font-style: 11px;
    letter-spacing: -0.6px;
    line-height: 32;
}
.ft .ftB a{
   
    font-size: 12px;
    letter-spacing: -0.6px;
    line-height: 20px;
    color: gainsboro;
    word-spacing: 0px;
}
.ft .ftB{width: 0 auto; height: 0 auto;}
.ft .ftB li{float: left; width: calc( 570px /5);} */


