@charset "utf-8";
html,body{height: 100%;}
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;

}

/* reset */
*{margin: 0;padding: 0;box-sizing: border-box;}
a:link,a:visited{text-decoration: none;color:#888} 
.clearfix:after{content:"";display: block;clear: both;}
li{list-style: none;}
h3{font-size:18px;letter-spacing: -1px;}



.container{width: 980px;margin: 0 auto;}

/* header */
    .top{border-bottom: 1px solid #E3D9D9;margin-bottom: 10px;}
    .submenu{float: right; height: 26px;}
    .submenu li{float: left;}
    .submenu li a{
        display: block;
        font-size: 12px;
        padding: 0 10px;
        line-height: 20px;
        position: relative;
        /* border : 1px solid black; */
    }
    .submenu li a:after{
        content:"";display: block;
        height: 4px;width: 4px;
        background: #888;
        position: absolute;left:-3px;;top: 11px;
        border-radius: 50%;
    }
    .submenu li:first-child a:after{display: none;}

    /* logo */
    h1.logo{width: 200px; height: 50px; margin: 0 auto;margin-bottom: 10px;}
    h1 img{display: block;}
    